body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  background: url(/images/bg.jpg) center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.cl-red {
  color: red;
}
